body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family:  cursive;
  font-size: 3rem;

  background-color: red;
}
.container1{
  text-align: center;
  background-color: yellow;
}
.container2{
  background-color: pink;
}
input{

  border-radius: 20px;
  height:40px;
  font-size: 30px;
}
.first{

}
.scoreBoard{
  font-size: 40px;
}
.container {
  margin: auto;
}

.row{
  display: block;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}
.start {
  margin: 25px;
  display: inline-block;
  height: 50px;
  width: 100px;
  background-color: white;
  
  border-radius: 20%;
}
.Quit {
  margin: 25px;
  display: inline-block;
  height: 50px;
  width: 100px;

  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
